h1, h3
{
    text-align:center;
}

h3
{
    background-color:black;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
    width: 60%;
    margin: auto;
}

p
{
    background-color:#CCCCCC;
    margin-top:0px;
    margin:auto;
    width: 60%;
}

a
{
    text-decoration: none;
    color: blue;
}